/** @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap'); **/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&family=Raleway:wght@200;400;600;700;900&display=swap');
* {
    font-family: 'Fira Code', sans-serif;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 99%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #e21e14;
    }
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}